<div class ="container" >
<div class="animal-cards">
    <% @animals.each do |animal|%>
      <div class="cardos">
      <% if animal.photo.attached? %>
       <%= cl_image_tag animal.photo.key, height: 300, width: 200, crop: :fill %>
       <% else %>
       <%= image_tag "not_found.png", height: 300, width: 200, crop: :fill%>
       <% end %>
        <div class="card-content">
          <div class="card-text">
            <h3 class="choose-button"><%= link_to "#{animal.name}".capitalize, animal_path(animal), class: "no-decoration" %></h3>
          </div>
        </div>
         <p> <i class="<%='fas fa-heart' if params[:category].present?%>"></i>  <%=animal.score(params)  if params[:category].present? %></p>
        <p><i class="fa-solid fa-hourglass-start"></i>    <%=animal.age%></p>
        <p><i class="fa-solid fa-compress"></i> <%=animal.size%></p>
        <p><i class="fa-solid fa-mars-and-venus"></i></i>  <%= animal.gender.capitalize%></p>

      </div>
    <%end%>
</div>
