<div class="pet-show">
  <div class="row justify-content-center">
    <div class="col-5">

      <div class="pet-card">
        <div class="pet-banner">
          <% if @animal.photo.attached? %>
      <%= cl_image_tag @animal.photo.key, class: "avatar-large", alt: "avatar-large" %>
       <% else %>
       <%= image_tag "not_found.png", class: "avatar-large", alt: "avatar-large"%>
       <% end %>
       </div>
          <div class="pet-menu">
              <div class="opener"></div>
          </div>
          <h2 class="name"><%= @animal.name.capitalize%></h2>
          <div class="title">"The goodest pet"</div>
          <div class="actions">
              <div class="follow-btn"><button>Back</button></div>

              <div class="follow-btn"><button><%= link_to "Adopt", new_animal_request_path(@animal), class: "follow-btn" %></button></div>
          </div>
          <div class="desc overflow-auto"><%=@animal.animal_bio%></p></div>
      </div>
    </div>

   <div class="col-5">
    <div class="pet-card">
        <div class="pet-banner">
        <% if @animal.photo.attached? %>
      <%= image_tag 'tierheim_logo.png', class: "avatar-large", alt: "avatar-large" %>
       <% else %>
       <%= image_tag "not_found.png", class: "avatar-large", alt: "avatar-large"%>
       <% end %>
            </div>
        <div class="pet-menu">
            <div class="opener"><span></span><span></span><span></span></div>
        </div>
        <h2 class="name">Tierheim München</h2>
        <div class="title">Riemer Str. 270 · 81829 München</div>

        <div class="desc-shelter desc overflow-auto"> <p>The Tierheim München e.V. has been advocating for animals in Munich and the surrounding area for over 180 years, always bearing in mind the maxim "For animals, For people, For Munich." Because nearly every animal's fate is also related to a human one, we do not view animal preservation as a responsibility that is independent of people. Therefore, helping animals is constantly helping people.</p></div>
    </div>
  </div>`
</div>
