<html>
<body>
  <main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
        <%= link_to animals_path do %>
         <i class="fa fa-arrow-left"></i>
         <% end %>
        </div>
        <h3><%= "#{@animal.name}".capitalize%></h3>
        <div class="card__body">
          <div class="half">
            <div class="featured_text">
            <p class="age">Age Group: <%= @animal.age %></p>
            <p class="size">My height is <%= @animal.size %></p>
          </div>
          <div class="image">
            <% if @animal.photo.attached? %>
               <%= cl_image_tag @animal.photo.key, height: 300, width: 200, crop: :fill %>
               <% else %>
                  <%= image_tag "not_found.png", height: 300, width: 200, crop: :fill%>
            <% end %>

          </div>
        </div>
        <div class="half">
          <div class="description">
            <p><strong>About me: </strong><%=@animal.animal_bio%></p>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="action">
          <%= link_to "Adopt him/her", new_animal_request_path(@animal), class: "basic-link" %>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
